stages:
  - test
  - release

include:
  - local: .gitlab-ci-release.yml

flutter_test:
  stage: test
  image: cirrusci/flutter:stable
  script:
    - flutter pub get
    - flutter analyze
    - flutter test
  cache:
    key: flutter
    paths:
      - .pub-cache/
