name: Commitlint

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install commitlint
        run: npm install --no-save @commitlint/cli @commitlint/config-conventional
      - name: Lint commits
        run: npx commitlint --from origin/${{ github.base_ref }} --to HEAD --verbose
