name: Lock Threads

on:
  schedule:
    - cron: "0 3 * * *"

jobs:
  lock:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/lock-threads@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-inactive-days: 90
          pr-inactive-days: 90
          issue-lock-reason: "resolved"
          pr-lock-reason: "resolved"
